.nav__row {
    display: flex;
    align-items: center;
    background-color: var(--color-background);
    color: var(--color-text);
    padding: 0rem var(--site-padding);
}

.nav__row-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
    height: 100%;
    flex-shrink: 0;
}

.nav__bottom .nav__row-group {
    gap: 35px;
}

.nav__row-item {
    display: flex;
    align-items: center;
    color: inherit;
    gap: 0.5rem;
    transition: color 0.3s;
}

.nav__bottom .nav__row-item {
    gap: 0.25rem;
}

.nav__row-item-icon {
    margin-left: 5px;
    color: var(--primary-orange);
    font-size: 0.8rem;
}

.nav__row-item a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav__row-item-divider {
    width: 1px;
    height: 60%;
    background-color: var(--color-text);
}

.nav__row a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-shrink: 0;
}

.nav__top {
    background: #363634;
    font-size: 0.9rem;
    color: #fff;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    height: 30px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__top .nav__row-item:hover {
    color: var(--primary-orange);
}

.nav__bottom {
    height: 60px;
    background: #fdfdfd;
    color: #1F1D1D;
    border-bottom: 1px solid #e0e0e0;
    font-weight: 500;
    font-size: 0.95rem;
    text-transform: uppercase;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}



.nav__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    gap: 0.35rem;
}

.nav__cart {
    display: flex;
    align-items: center;
    cursor: pointer;

    height: 41px;
    padding: 0 1.25rem;
    background: var(--primary-orange);
    border-radius: 5px;
    color: #fff;

    position: relative;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.nav__cart.active:hover .nav__cart-display {
    display: flex;
}

.nav__cart-display {
    display: none;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    width: 350px;
    position: absolute;
    cursor: initial;
    top: 100%;
    right: 0;
    z-index: 50;
    background: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.nav__cart-display-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;

}

.nav__cart-display-total {
    border-top: 1px solid #bdbaba;
    padding-top: 0.5rem;
    font-weight: 400;
    text-transform: initial;
    font-size: 1rem;
    width: 100%;
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nav__cart-display-total span:nth-child(2n) {
    text-align: right;
}


.nav__cart-display-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    color: #fff;
    padding-top: 0.5rem;
    padding: 10px;
}


.nav__cart-action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 500;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.nav__cart-display-actions .btn-cart{
    border: 1px solid var(--primary-orange);
    background: white;
    color: var(--primary-orange);
}

.nav__cart-display-actions .btn-cart:hover {
    color: white;
    background: #d96900;
}

.btn-checkout {
    background: var(--primary-orange)
}

.btn-checkout:hover {
    background: #d96900;
}

.nav__cart-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: calc(350px - 20px);
    max-width: calc(350px - 20px);
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    flex: 0 0 100%;
}

.nav__cart-item:first-child {
    padding-top: 20px;
}

.nav__cart-item__title {
    font-size: 0.9rem;
    font-weight: 500;
    color: #000;
    width: max-content;
}

.nav__cart-item-image{
    width: 70px;
    height: 70px;
    flex: 0 0 70px;
    position: relative;
    object-fit: cover;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
}

.nav__cart-item__info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    height: 100%;
    flex: 1;

}
.nav__cart-item-remove {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 0;
}

.nav__logo {
    background: url(/src/assets/opg_logo.png) no-repeat left top;
    background-size: contain;
    height: 50px;
    width: 50px;
}

.nav__cart:hover {
    background: #d96900;
}

.nav__cart-quantity {
    position: absolute;
    top: 0;
    right: 0.5rem;

    font-size: 0.8rem;
    font-weight: 500;
}


.nav__row-nav-item {
    position: relative;
    cursor: pointer;
    height: 100%;
}

.nav__row-nav-item:hover .nav__dropdown {
    display: flex;
    flex-direction: column;
    top: 100%;
    left: -15px;
    position: absolute;
    z-index: 100;
}

.nav__dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: max-content;
    background: white;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px 30px;
    transition: all 0.3s;
    cursor: initial;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    /* box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; */
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px; */
}

.nav__dropdown li:first-child {
    text-transform: uppercase;
}

.nav__dropdown li {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 2px 0 3px;
    font-size: 0.9rem;
    text-transform: capitalize;
    transition: color 0.3s;
}

.nav__dropdown li:hover {
    color: var(--primary-orange);
    text-decoration: underline;
}

.nav__row-nav-item::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 30%;
    left: 0;
    background-color: var(--primary-orange);
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
}

.nav__row-nav-item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav__search-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    z-index: 100;
  } 

.nav__search-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    flex: 0 0 100%;
    padding: 5px;
    transition: background 0.3s;
}

.nav__search-item:hover {
    background: rgba(255, 123, 0, 0.2);
}

.nav__search-item__title {
    font-size: 0.9rem;
    font-weight: 500;
    color: #000;
    width: max-content;
}

.nav__search-item-image{
    width: 40px;
    height: 40px;
    flex: 0 0 40px;
    position: relative;
    object-fit: cover;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
}

.nav__search-item__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25rem;
    height: 100%;
    flex: 1;

}