.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem var(--site-padding);
  min-height: calc(100vh - var(--nav-height) - var(--footer-height));
  background-color: var(--color-background);
}

.btn-primary {
  background: var(--primary-orange);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 500;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  gap: 0.5rem;
}

.btn-primary:hover {
  background: var(--primary-orange-dark);
}

.btn-secondary {
  background: white;
  color: var(--primary-orange);
  border: 1px solid var(--primary-orange);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 500;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.btn-secondary:hover {
  color: white;
  background: var(--primary-orange);
}

.products-section {
  display: flex;
  width: 100%;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0 1rem;
}

.products-section .products {
  width: 80%;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem 1rem 0rem;
  width: 20%;
  flex: 0 0 20%;
  border-right: 1px solid #e0e0e0;
  grid-column: 1;
}

.filter-btn {
  display: none;
  width: 150px;
  margin-bottom: 1rem;
}

.filters__btn-close {
  display: none;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  transition: color 150ms ease-in-out;
}

.filters__btn-close-icon {
  color: var(--primary-orange);
  padding: 0.5rem;
  font-size: 1.75rem;
}

.filters__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filters__form h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.filters__btn-clear {
  padding: 0.25rem 0.5rem;
}

.checkbox-wrapper-4 {
  height: 30px;
}

.checkbox-wrapper-4 * {
  box-sizing: border-box;
}

.checkbox-wrapper-4 .cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 6px 16px 6px 8px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
}

.checkbox-wrapper-4 .cbx:not(:last-child) {
  margin-right: 6px;
}

.checkbox-wrapper-4 .cbx:hover {
  background: rgba(0, 119, 255, 0.06);
}

.checkbox-wrapper-4 .cbx span {
  float: left;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #afb1b8;
  transition: all 0.2s ease;
  box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}

.checkbox-wrapper-4 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:last-child {
  padding-left: 8px;
  line-height: 18px;
}

.checkbox-wrapper-4 .cbx:hover span:first-child {
  border-color: var(--primary-orange);
}

.checkbox-wrapper-4 .inp-cbx {
  position: absolute;
  visibility: hidden;
}

.checkbox-wrapper-4 .inp-cbx:checked+.cbx span:first-child {
  background: var(--primary-orange);
  border-color: var(--primary-orange);
  animation: wave-4 0.4s ease;
}

.checkbox-wrapper-4 .inp-cbx:checked+.cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-4 .inline-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

@media screen and (max-width: 640px) {
  .checkbox-wrapper-4 .cbx {
    width: 100%;
    display: inline-block;
  }
}

@-moz-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@-webkit-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@-o-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

.cart-page {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.cart {
  width: 100%;
  display: flex;
  gap: 4rem;
}

.cart__title {
  font-size: 2rem;
  margin-bottom: 1rem;

}

.cart__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: calc(100% - 350px);
  flex-grow: 1;
}

.cart__items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding-right: 4rem;
  border-right: 1px solid #e0e0e0;
}

.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--color-background);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.cart__item-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 3;
  max-width: 360px;
  margin-right: auto;
}

.cart__item-category {
  font-size: 0.9rem;
  color: #666;
}

.cart__item-remove {
  margin-top: auto;
  font-size: 0.8rem;
  width: max-content;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  transition: color 150ms ease-in-out;
  padding: 0;
}

.cart__item-remove-icon {
  color: var(--primary-orange);
}

.cart__item-remove:hover {
  text-decoration: underline;
  color: var(--primary-orange);
}

.cart__item a {
  color: inherit;
  text-decoration: none;
}


.cart__item-img {
  width: 100px;
  height: 100px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  margin-right: 1rem;
  flex-shrink: 0;
}

.cart__item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.cart__item-price {
  display: flex;
  flex-direction: column;
  width: 150px;
  text-align: right;
}

.cart__item-total-price {
  font-size: 1.1rem;
}

.cart__item-single-price {
  font-size: 0.9rem;
  color: #666;
}

.cart__total {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--color-background);
  height: 100%;
  width: 350px;
}

.cart__total h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.cart__total-calc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.cart__total-calc span {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.cart__total-calc span:nth-child(2n) {
  text-align: right;
}

.cart__total-action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: white;
  text-decoration: none;
}

.cart__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.cart__empty-title {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.cart__empty-info {
  font-size: 1.1rem;
  text-align: center;
  max-width: 500px;
}

.cart__empty-btn {
  max-width: 200px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: white;
}


/* product page */

.product-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 100%;
}

.product-page__data {
  display: flex;
  gap: 2rem;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.product-page__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-page__title {
  font-size: 2rem;

}

.product-page__data-points {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.product-page__point {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.product-page__point span:first-child {
  font-weight: 500;

}

.product-page__price {
  font-size: 1.75rem;
  font-weight: 500;
  margin-top: auto;
}

.product-page__actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.product-page .image-gallery {
  width: 35%;
  height: 500px;
}

.product-page .image-gallery  .image-gallery-icon {
  color: darkslategrey;
  transition: all .3s ease-out;
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  position: absolute;
  z-index: 4;
  filter: drop-shadow(0 2px 2px #ff7b00);
}

.product-page .image-gallery  .image-gallery-icon:hover {
  color: #ff7b00;
}

.product-page .image-gallery .image-gallery-slide img {
  width: 100% ;
  height: 400px ;
  border-radius: 6px;
  object-fit: contain ;
  overflow: hidden;
  object-position: center center;
}

.product-page .image-gallery .image-gallery-svg {
  height: 70px ;
  width: 60px ;
}

.product-page .image-gallery .image-gallery-thumbnail {
  width: 80px;
}

.product-page .image-gallery .image-gallery-thumbnail.active,
.product-page .image-gallery .image-gallery-thumbnail:focus {
  border: 2px solid var(--primary-orange);
}

.product-page .image-gallery .image-gallery-thumbnail:hover {
  border: 4px solid var(--primary-orange-dark);
}


.product-page .image-gallery .image-gallery-thumbnail-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  overflow: hidden;
  object-position: center center;
}

.image-gallery-icon {
  color: #000;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 150ms ease-in-out;
}

.image-gallery-icon:hover {
  color: #337ab7;
}


.quantity-select {
  width: 140px;
  max-width: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.2rem;
  color: black;
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  height: 50px;
  flex-grow: 1;
}

.quantity-select-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--primary-orange);
  font-weight: 400;
  transition: color 150ms ease-in-out;
  flex-shrink: 0;
}

.quantity-select-btn:hover {
  color: var(--primary-orange-dark);
}

/*  single product */

.product {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 230px;
  padding: 1rem;
  border-radius: 6px;
  position: relative;
  /* border: 1px solid #888787; */
  /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; 
}

.product::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  position: absolute;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; 
  transition: all .3s ease-in-out;
  box-sizing: border-box;
  z-index: -1;
}

.product:hover::before {
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
}

.product__title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  text-align: center;
}

.product a {
  color: inherit;
  text-decoration: none;
}

.product__img {
  width: 100%;
  height: 200px;
  border-radius: 6px;
  overflow: hidden;
  object-fit: cover;
  object-position: center center;
}

.product__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.product__price {
  font-size: 1.1rem;
  font-weight: 500;
  color: #323232;
}

.product__add {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: auto;
}

.product__add-btn {
  height: 30px;
  margin-top: auto;
}

.product-page .product__add-btn {
  width: 350px;
  font-size: 1.3rem;
  height: 50px;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 350px;

  padding: 1rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  position: relative;
  z-index: 1;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.form__group-row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.form__group.half-row {
  flex-basis: calc(50% - 0.5rem);
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: calc(50% - 0.5rem);
}

.form__group label {
  font-size: 1rem;
  font-weight: 500;
}

.form__group input {
  padding: 0.35rem 0.5rem;
  border-radius: 5px;
  border: 1px solid #9e9b9b;
  font-size: 1rem;
}

.form__group input:focus {
  outline: none;
  border-color: var(--primary-orange);
}

.form__group input:valid {
  border-color: green;
}

.form__group textarea {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #9e9b9b;
  height: 100px;
  font-size: 1rem;
}

.form__group textarea:focus {
  outline: none;
  border-color: var(--primary-orange);
}

.form__group select {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #9e9b9b;
  font-size: 1rem;
}

.form__group select:focus {
  outline: none;
  border-color: var(--primary-orange);
}


.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.contact-page__title {
  font-size: 2rem;
}

.contact-page__intro {
  font-size: 1.1rem;
  text-align: center;
  max-width: 700px;
  width: 100%;
}

.contact-page__content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contact-page__info {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  padding: 2rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: max-content;
  margin-top: 1.5rem;
}

.contact-page__info a {
  color: inherit;
  text-decoration-color: var(--primary-orange);
}

.contact-page__info a:hover {
  text-decoration-color: var(--primary-orange-dark);
}

.contact-page__info-item-icon {
  color: var(--primary-orange);
  font-size: 1.5rem;
}

.contact-page__info-item {
  display: flex;
  gap: 1rem;
  align-items: center;

  font-size: 1.2rem;
}

.contact-page__form {
  margin-top: 1.5rem;
}



.contact__page-form-status {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 2;
}

.contact__page-form-confirmation-message {
  font-size: 1.25rem;
}

.contact__page-form-confirmation-message-icon {
  color: var(--primary-orange);
  font-size: 2rem;
}

.checkout {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 2rem;
  max-width: 470px;
}

.checkout__title {
  text-align: center;
  line-height: 1;
  margin-top: 1rem;
}

.checkout__title h1 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.checkout__steps {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
}
.checkout__step {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.checkout__step.active .checkout__step-num {
  background-color: var(--primary-orange-dark);
}

.checkout__step.active .checkout__step-title {
  font-weight: 600;
}

.checkout__step.completed .checkout__step-title {
  font-weight: 500;
}

.checkout__step-num {
  flex-shrink: 0;
  font-size: 0.9rem;
  font-weight: 400;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-orange);
  color: white;
}

.checkout__step-completed {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--primary-orange-dark);
  width: 25px;
  height: 25px;
}

.checkout__step-title {
  font-size: 0.9rem;
  font-weight: 400;
}

.checkout__form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.checkout__form form h2 {
  font-size: 1.3rem;
  font-weight: 500;
}

.checkout__form-btn-row {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.checkout__confirmation-subtitle {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: var(--primary-orange);
}

.btn-fake {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: white;
  border: 2px solid gray;
  color: darkslategrey;
  text-decoration: none;
}

.btn-fake:hover {
  text-decoration: none;
}

.summaries {
  position: relative;
}

.summary__title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.summary__items {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding-bottom: 1rem;
  border-bottom: 2px solid #b3b1b1;
}

.summary__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1rem;
}

.summary__item-title {
  font-weight: 400;
  font-size: 1.1rem;
}

.summary__item-contents {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: #666;
}

.summary__item-price {
  font-size: 1.1rem;
}

.summary__total {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.summary__total span {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.summary__total span:nth-child(2n) {
  text-align: right;
}

.customer-summary {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 1.5rem 0;
  align-items: flex-start;
}

.order-summary__status {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  max-width: 400px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.25rem 0;
  line-height: 1;
  background-color: rgb(46, 46, 46);
  color: white;
  text-align: center;
  height: var(--footer-height);
}

.bilogora {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

.bilogora__title {
  font-size: 1.75rem;
}

.bilogora__content {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.bilogora__image {
  width: 50%;
  height: auto;
  overflow: hidden;
}

.bilogora__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.bilogora__text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  width: 50%;
}

/* Media queries */


@media (max-width: 1300px) {
  .cart {
    gap: 1.5rem;
  }

  .cart__total {
    width: 280px;
  }

  .cart__items {
    padding-right: 1.5rem;
  }

  .product__img {
    flex-shrink: 0;
  }

  .filters {
    width: 25%;
    flex: 0 0 25%;
  }

  .products-section .products {
    width: 75%;
  }

  .products {
    gap: 0.75rem;
    padding: 0;
  }

  .product {
    width: 180px;
    height: 315px;
  }

  .product__img {
    height: 160px;
  }

  .product__add {
    gap: 0.25rem;
    flex-wrap: wrap;
    justify-content: center;
  }

}



@media (max-width: 940px) {
  .main {
    min-height: calc(100vh - var(--nav-height) - var(--footer-height));
  }

  .cart {
    flex-direction: column;
  }

  .cart__title {
    font-size: 1.75rem;
  }

  .cart__content {
    width: 100%;
  }

  .cart__items {
    border-right: none;
    padding-right: 0;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 1.5rem;
  }

  .cart__item-info {
    gap: 0.25rem;
  }

  .cart__item-img {
    height: 80px;
    width: 50px;
  }

  .cart__item-name {
    font-size: 1.1rem;
  }

  .cart__item-category {
    font-size: 0.9rem;
  }

  .quantity-select {
    width: 100px;
    gap: 0.5rem;
  }

  .quantity-select-value {
    font-size: 1rem;
  }

  .quantity-select-btn {
    font-size: 1.1rem;
  }

  .cart__total {
    align-self: center;
  }

  .products {
    padding: 0;
    padding-left: 1rem;
    gap: 0.5rem;
  }

  .product {
    width: calc(33% - (0.5rem));
    height: 300px;
  }

  .product__img {
    height: 140px;
  }

  .product__title {
    font-size: 1rem;
  }

  .product__add {
    font-size: 0.9rem;
  }

  .product__price {
    font-size: 1.1rem;
  }

  .product__img img {
    object-fit: contain;
  }

  .filters {
    width: 30%;
    flex: 0 0 30%;
  }

  .products-section .products {
    width: 70%;
  }

  .cbx span {
    font-size: 0.9rem;
  }

  .checkbox-wrapper-4 .cbx {
    padding: 6px 2px;
  }

  .checkbox-wrapper-4 .cbx span:first-child {
    width: 15px;
    height: 15px;
  }

  .checkbox-wrapper-4 .cbx span:first-child svg {
    top: 2px;
    left: 1px;
  }

  .product-page__data {
    gap: 1rem;
  }

  .product-page .image-gallery {
    width: 50%;
    height: 400px;
  }
  
  .product-page .image-gallery .image-gallery-slide img {
    height: 300px ;
  }
  
  .product-page .image-gallery .image-gallery-svg {
    height: 70px ;
    width: 60px ;
  }
  
  .product-page .image-gallery .image-gallery-thumbnail {
    width: 80px;
  }
  
  .product-page .image-gallery .image-gallery-thumbnail-image {
    width: 80px;
    height: 80px;
  }
  
  .image-gallery-icon {
    font-size: 1rem;
  }

  .product-page__info {
    width: 50%;
    gap: 0.75rem;
  }

  .product-page__title {
    font-size: 1.5rem;
  }

  .product-page__data-points {
    gap: 0.5rem;
  }

  .product-page__price {
    font-size: 1.45rem;
  }

  .product-page .product__add-btn {
    width: 75%;
    font-size: 1.1rem;
    height: 40px;
  }

  .product-page .quantity-select {
    height: 40px;
  }

  .contact-page__title {
    font-size: 1.75rem;
  }

  .contact-page__intro {
    font-size: 1rem;
  }

  .contact-page__info h2 {
    font-size: 1.25rem;
  }

  .contact-page__info-item{
    font-size: 1rem;
  }

  .form__group label {
    font-size: 0.9rem;
  }

  .form__group input {
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
  }

  .form__group textarea {
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  .form__group select {
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  .btn-primary {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  .btn-secondary {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  .summary__title {
    font-size: 1.25rem;
  }

  .summary__item-title {
    font-size: 1rem;
  }

  .bilogora__title {
    font-size: 1.5rem;
  }

  .bilogora__content {
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }

  .bilogora__image {
    width: 100%;
  }

  .bilogora__text {
    width: 100%;
    font-size: 0.9rem;
  }
}

@media (max-width: 732px) {
  .filter-btn {
    display: block;
    align-self: flex-end;
  }

  .products-section {
    flex-direction: column;
  }

  .filters {
    position: fixed;
    top: 0;
    left: -110vw;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: white;
    border-right: 1px solid #e0e0e0;
    width: 100%;
    z-index: 100;
    padding: 1rem;
    gap: 1rem;
    flex-direction: column;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
  }

  .filters.active {
    display: flex;
    left: 0;
    opacity: 1;
  }

  .products-section .products {
    width: 100%;
    padding: 0;
  }

  .filters__btn-close {
    display: block;
  }
}


@media (max-width: 550px) {

  .nav__mobile-group.nav__logo {
    width: 45px;
    height: 45px;
  }

  .nav__mobile-group .nav__cart {
    height: 36px;
    width: 55px;
  }

  .nav__mobile-group .nav__cart-link {
    font-size: 0.9rem;
    padding: 9px 1.1rem;
  }

  .nav__mobile-group .mobile-search {
    height: 36px;
    width: 55px;
  }
  .mobile-search__input {
    height: 58px;
  }

  .cart__title {
    font-size: 1.5rem;
  } 

  .cart__item-img {
    height: 60px;
    width: 40px;
    margin-right: 0.5rem;
  }

  .cart__item-name {
    font-size: 0.9rem;
  }

  .cart__item-category {
    font-size: 0.8rem;
  }

  .cart__item-price {
    width: 100px;
  }

  .cart__item-total-price {
    font-size: 0.95rem;
  }

  .cart__item-single-price {
    font-size: 0.85rem;
  }

  .quantity-select {
    width: 80px;
    gap: 0rem;
    flex-grow:0;
  }

  .cart__total {
    width: 100%;
  }

  .cart__total h1 {
    font-size: 1.25rem;
  }

  .cart__total-calc span {
    font-size: 1rem;
  }

  .product {
    width: calc(50% - (0.5rem / 2));
    height: 280px;
  }

  .product__img {
    height: 120px;
  }

  .product__title {
    font-size: 0.9rem;
  }

  .product__add {
    font-size: 0.8rem;
  }

  .product__price {
    font-size: 1rem;
  }

  .filter-btn {
    width: 100px;
  }

  .filter-btn .btn-primary {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  .product-page__data {
    flex-direction: column;
    gap: 0.25rem;
  }

  .product-page .image-gallery {
    width: 100%;
    height: 260px;
  }
  
  .product-page .image-gallery .image-gallery-slide img {
    height: 200px ;
  }
  
  .product-page .image-gallery .image-gallery-thumbnail {
    width: 60px;
  }
  
  .product-page .image-gallery .image-gallery-thumbnail-image {
    width: 60px;
    height: 60px;
  }

  .product-page__info {
    width: 100%;
    gap: 0.5rem;
  }

  .product-page__price {
    align-self: center;
  }

  .product-page .product__add-btn {
    width: 75%;
    font-size: 1.1rem;
    height: 40px;
  }

  .product-page .quantity-select {
    width: 25%;
    height: 40px;
  }

  .product-page__actions {
    justify-content: center;
  }

  .checkout__form form h2 {
    font-size: 1.1rem;
  }

  .payment__form .form__group-row {
    flex-direction: column;
  }

  .payment__form .form__group.half-row {
    flex-basis: 100%;
    max-width: 100%;
  }

  .summary__title {
    font-size: 1.1rem;
  }

  .summary__item-title {
    font-size: 0.9rem;
  }

  .summary__total span {
    font-size: 1rem;
  }

  .footer {
    padding: 0.25rem 0;
    font-size: 0.9rem;
    line-height: 1;
  }
}