 @import "reset.css";
 @import "react-image-gallery/styles/css/image-gallery.css";

:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --nav-height: 90px;
  --site-padding: 10vw;
  --color-text: #e7e5e5;
  --primary-orange: #ff7b00;
  --primary-orange-dark: #d96900;
  --nav-bottom-border-color: #ccc9c9; 
}

body:has(.nav__mobile-menu.active) {
  overflow: hidden;
}

body:has(.filters.active) {
  overflow: hidden;
}

@media (max-width: 1300px) {
  :root {
    --site-padding: 5vw;
  }
}

@media (max-width: 940px) {
  :root {
    --navbar-height: 60px;
  }
}

